
<%- include('footer.ejs') %>

    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.min.js"></script>
    <script defer>
        const whiteScreen = document.getElementById("whiteScreen");
        setTimeout(function() {
            whiteScreen.style.opacity = 0;
            setTimeout(function() {whiteScreen.remove();}, 1000);
        }, 300);
        
        const sections = $("section.nav-section");
        var sectionsPosDatas = [];
        for(var i=0; i<sections.length; i++) {
            sectionsPosDatas[i] = {};
            sectionsPosDatas[i].id = $(sections[i]).attr("id");
            sectionsPosDatas[i].position = $(sections[i]).position().top;

        }

        function updateNavCss() {
            var currentPos = window.scrollY + 50;

            for(var i=1; i<sectionsPosDatas.length; i++) {
                if(currentPos > sectionsPosDatas[i-1].position && currentPos < sectionsPosDatas[i].position) {
                    $("nav .navbar-nav .active").removeClass("active");
                    $("nav .navbar-nav a[data-target='#" + sectionsPosDatas[i-1].id + "']").addClass("active");
                }
            }
        }

        function handleFormsDisplay(trig, speed) {
            const trigger = $(trig);
            const programGroup = $(trigger.attr("data-target"));
            const slideNbToDisplay = Number(trigger.attr("data-form-to"));
            const programMenuLis = programGroup.find("#programMenu li");

            if($(programMenuLis[slideNbToDisplay]).hasClass("active")) {
                return ;
            } else {
                const programDays = programGroup.find(".program-day-container");
                $(programMenuLis).removeClass("active");
                $(programMenuLis[slideNbToDisplay]).addClass("active");
                programDays.css("min-height", programDays.outerHeight());
                hide(programDays[0]);
                hide(programDays[1]);
                displaySmoothly(programDays[slideNbToDisplay], speed, null);
            }
        }

        $(document).ready(function() {
            $('#carouselPhotos').carousel('pause');
            updateNavCss();


            $(window).scroll(function() {updateNavCss();})

            $('nav #navbarNavDropdown a').on('click', function(e) {
                e.preventDefault();
                var trigger = $(this);
                var target = trigger.attr("data-target");

                reachByScrolling(target, 0, 1000, function() {
                    resetUrl("/#");
                    resetUrl("#");
                    return;
                });
            });

            $("[data-target='#programMenuDays']").click(function() {
                handleFormsDisplay(this, 800);
            });
        });
    </script>

</body>
</html>