/********** FONTS **********/
@font-face {
    font-family: 'latoregular';
    src: url('fonts/lato/Lato-Regular.ttf');
}
@font-face {
    font-family: 'lato-light';
    src: url('fonts/lato/Lato-Light.ttf');
}
@font-face {
    font-family: 'lato-thin';
    src: url('fonts/lato/Lato-Thin.ttf');
}
@font-face {
    font-family: alex-brush;
    src: url('fonts/alex-brush/AlexBrush-Regular.ttf');
}
@font-face {
    font-family: rochester;
    src: url('fonts/rochester/rochester-regular.ttf');
}
@font-face {
    font-family: uni-sans;
    src: url('fonts/uni-sans/uni-sans-semibold.otf');
}
@font-face {
    font-family: uni-sans-bold;
    src: url('fonts/uni-sans/uni-sans-bold.otf');
}
@font-face {
    font-family: uni-sans-heavy;
    src: url('fonts/uni-sans/uni-sans-heavy.otf');
}

/********** VOLUMES **********/
html, body{
    min-height: 100%; height: 100%;
}
#main{
    min-height: 150%;
    padding-top: 50px;
}
.container {max-width: 100%; width: 100%;}
@media (min-width: 1140px) {.container {max-width: 1140px;}}
section{padding-top: 5rem; padding-bottom: 5rem;}
.not-displayed{display: none !important;}


/********** FONT **********/
body, p, a, address, span, strong, div, li, .form-control::placeholder, .txt-quote, .form-control{font-family: latoregular, sans-serif; font-size: 1rem; color: rgb(79, 88 ,80);}
.txt-100{font-weight: 100;}
.txt-b{font-weight: bold;}
.txt-600{font-weight: 1000;}
.s-2{font-size: 1rem;}
.close span{font-size: 1.5rem !important;}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span, .h1 span, .h2 span, .h3 span, .h4 span, .h5 span, .h6 span{font-weight: light; color: rgb(53, 59, 54);}


.font-weight-light{font-weight: 300;}
.font-weight-v-light{font-weight: 200;}
.link{cursor: pointer;} .link:hover{text-decoration: underline;}

/* COLORS */
    /* BLACK */
    .t1-0-clr{color: rgb(14, 17, 15);} .t1-1-bg{background-color: rgb(14, 17, 15);}
    .t1-1-clr{color: rgb(24, 27, 25) !important;} .t1-1-bg{background-color: rgb(24, 27, 25);}
    .t1-11-clr{color: rgb(61, 69, 62);} .t1-11-bg{background-color: rgb(61, 69, 62);}
    .t1-2-clr{color: rgb(79, 88 ,80);} .t1-2-bg{background-color: rgb(79, 88, 80);}
    .t1-3-clr{color: rgb(111, 115, 108);} .t1-3-bg{background-color: rgb(111, 115, 108);}
    .t1-4-clr{color: rgb(141, 142, 138);} .t1-4-bg{background-color: rgb(141, 142, 138);}
    .t1-5-clr{color: rgb(178, 178, 175) !important;} .t1-5-bg{background-color: rgb(178, 178, 175) !important;}
    .t1-51-clr{color: rgb(215, 215, 214);} .t1-5-bg{background-color: rgb(214, 214, 214);}
    .t1-6-clr{color: rgb(242, 242, 241) !important;} .t1-6-bg{background-color: rgb(242, 242, 242) !important;}
    .t1-7-clr{color: rgb(250, 250, 249);} .t1-7-bg{background-color: rgb(250, 250, 250);}
    .t1-12str-bg{background: repeating-linear-gradient(45deg,rgb(210, 210, 210),rgb(230, 230, 230) 1px,rgb(230, 230, 230) 2px,rgb(210, 210, 210) 5px);}

    /* BLUE BRAND */
    .t2-0-clr{color: rgb(19, 110, 74);} .t2-0-bg{background-color: rgb(19, 110, 74);}
    .t2-1-clr{color: rgb(24, 148, 98);} .t2-1-bg{background-color: rgb(24, 148, 98);}
    .t2-2-clr{color: rgb(32, 181, 121);} .t2-2-bg{background-color: rgb(32, 181, 121);}
    .t2-3-clr{color: rgb(54, 212, 149);} .t2-3-bg{background-color: rgb(54, 212, 149);}
    .t2-4-clr{color: rgb(75, 226, 166);} .t2-4-bg{background-color: rgb(75, 226, 166);}
    .t2-5-clr{color: rgb(160, 253, 216) !important;} .t2-5-bg{background-color: rgb(160, 253, 216) !important;}
    .t2-57str-bg{background: repeating-linear-gradient(45deg,rgb(32, 181, 121), rgb(19, 110, 74) 1px, rgb(19, 110, 74) 2px,rgb(32, 181, 121) 5px);}
    .t42-31str-bg{background: repeating-linear-gradient(65deg,rgb(19, 110, 74),rgb(24, 148, 98) 1px,rgb(24, 148, 98) 2px,rgb(19, 110, 74) 5px);}

    /* BROWN */
    .t4-2-clr{color: rgb(126, 83, 10);} .t4-2-bg{background-color: rgb(126, 83, 10);}
    .t4-3-clr{color: rgb(211, 132, 12);} .t4-3-bg{background-color: rgb(211, 132, 12);}
    .t4-4-clr{color: rgb(255, 159, 15);} .t4-4-bg{background-color: rgb(255, 159, 15);}
    .t4-5-clr{color: rgb(255, 190, 93)} .t4-5-bg{background-color: rgb(255, 190, 93);}
    .t4-6-clr{color: rgb(255, 223, 175);} .t4-6-bg{background-color: rgb(255, 223, 175);}
    .t4-7-clr{color: rgb(255, 239, 215);} .t4-7-bg{background-color: rgb(255, 239, 215);}
    .t4-32str-bg{background: repeating-linear-gradient(-45deg,rgb(211, 132, 12),rgb(126, 83, 10) 1px,rgb(126, 83, 10) 2px,rgb(211, 132, 12) 5px);}

    /* DARK BROWN */
    .t5-1-clr{color: rgb(100, 90, 73);} .t5-1-bg{background-color: rgb(100, 90, 73);}
    .t5-2-clr{color: rgb(131, 117, 95);} .t5-2-bg{background-color: rgb(131, 117, 95);}
    .t5-3-clr{color: rgb(153, 137, 111);} .t5-3-bg{background-color: rgb(153, 137, 111);}
    .t5-4-clr{color: rgb(171, 157, 137);} .t5-4-bg{background-color: rgb(171, 157, 137);}
    .t5-5-clr{color: rgb(190, 180, 164);} .t5-5-bg{background-color: rgb(190, 180, 164);}
    .t5-6-clr{color: rgb(210, 202, 191);} .t5-6-bg{background-color: rgb(210, 202, 191);}
    .t5-7-clr{color: rgb(232, 228, 222);} .t5-7-bg{background-color: rgb(232, 228, 222);}
    .t5-67str-bg{background: repeating-linear-gradient(45deg,rgb(210, 202, 191),rgb(232, 228, 222) 1px,rgb(232, 228, 222) 2px,rgb(210, 202, 191) 5px);}

    /* PINK */
    .t7-2-clr{color: rgb(187, 166, 168);} .t7-2-bg{background-color: rgb(187, 166, 168);}
    .t7-3-clr{color: rgb(212, 191, 193);} .t7-3-bg{background-color: rgb(212, 191, 193);}
    .t7-4-clr{color: rgb(219, 204, 205);} .t7-4-bg{background-color: rgb(219, 204, 205);}
    .t7-5-clr{color: rgb(229, 217, 218);} .t7-5-bg{background-color: rgb(229, 217, 218);}
    .t7-6-clr{color: rgb(237, 230, 230);} .t7-6-bg{background-color: rgb(237, 230, 230);}
    .t7-7-clr{color: rgb(245, 241, 242);} .t7-7-bg{background-color: rgb(245, 241, 242);}

.keep{white-space: nowrap;}
.shadow{box-shadow: 0rem .125rem .3rem rgba(0,0,0,.35) !important;}
.shadow-1{box-shadow: 0rem .125rem .2rem rgba(0,0,0,.25) !important;}
.shadow-2{box-shadow: 0rem .125rem .14rem rgba(0,0,0,.14) !important;}

h2, .h2, h2 span, .h2 span{font-size: 3.5rem !important;}
h3, .h3, h3 span, .h3 span{font-size: 3rem !important;}
@media (max-width: 991.98px) {
    h2, .h2, h2 span, .h2 span{font-size: 2.9rem !important;}
    h3, .h3, h3 span, .h3 span{font-size: 2.5rem !important;}
}
@media (max-width: 767.98px) {
    h2, .h2, h2 span, .h2 span{font-size: 2.3rem !important;}
    h3, .h3, h3 span, .h3 span{font-size: 2rem !important;}
}
@media (max-width: 575.98px) {
    h2, .h2, h2 span, .h2 span{font-size: 2.2rem !important;}
    h3, .h3, h3 span, .h3 span{font-size: 2.1rem !important;}
}
.h5, h5 {font-size: 1.25rem !important;}

.mb-6, .my-6 {margin-bottom: 4.5rem!important;} .mt-6, .my-6 {margin-top: 4.5rem!important;}
.pb-6, .py-6 {padding-bottom: 4.5rem!important;} .pt-6, .py-6 {padding-top: 4.5rem!important;}
.mb-7, .my-7 {margin-bottom: 6.5rem!important;} .mt-7, .my-7 {margin-top: 6.5rem!important;}
.pb-7, .py-7 {padding-bottom: 6.5rem!important;} .pt-7, .py-7 {padding-top: 6.5rem!important;}



/********** BUTTONS & TRIGGERS **********/
input[type="radio"], input[type="checkbox"], .custom-control-label{cursor: pointer;}
button, button.active, button:hover{outline-style: none !important; box-shadow: none;}

.btn{font-size: .95rem; font-weight: 300; -webkit-transition: .2s ease-in-out; transition: .2s ease-in-out; border-radius: 2px;}
.btn-lg{font-size: 1rem; padding: .7rem 2.6rem;}

.btn-1-outline-12{border: 1px rgb(79, 88 ,80) solid; background-color: white; color: rgb(59, 68, 60) !important;}
.btn-1-outline-12:hover, .btn-1-outline-12:active{background-color: rgb(79, 88 ,80) !important; color:white !important;}

.btn-12{border: 1px rgb(79, 88 ,80) solid; background-color: rgb(79, 88 ,80); color: white !important;}
.btn-12:hover, .btn-12:active{background-color: rgb(59, 68 ,60) !important;}
.btn-2{border: 1px rgb(101, 143, 140) solid; background-color: rgb(101, 143, 140); color: white !important;}
.btn-2:hover, .btn-2:active{background-color: rgb(72, 100, 98) !important;}
.btn-6{border: 1px rgb(75, 97, 74) solid; background-color: rgb(75, 97, 74); color: white !important;}
.btn-6:hover, .btn-6:active{background-color: rgb(52, 70, 51) !important;}
.btn-outline-1{border: 1px rgb(251, 247, 231) solid; color: white !important;}
.btn-outline-1:hover, .btn-outline-1:active{background-color: rgba(255, 255, 255, .8) !important; color: rgb(14, 17, 15) !important;}
.btn-outline-12{border: 1px rgb(79, 88 ,80) solid; color: rgb(79, 88 ,80) !important;}
.btn-outline-12:hover, .btn-outline-12:active{background-color: rgb(79, 88 ,80) !important; color:white !important;}

a.t2-2-clr:hover{color: rgb(32, 181, 121);}
a.t4-4-clr:hover{color: rgb(255, 159, 15);}





/********** CAROUSEL **********/
    .carousel-control{color: rgb(111, 115, 108) !important; opacity: .75; width:100%}
    .carousel-control:hover, .carousel-control:active{color: rgb(111, 115, 108) !important; opacity: 1;}
    .carousel-control svg{height: 2rem;}

    .carousel-indicators{bottom: -70px;}
    .carousel-indicators li{
        border-radius: 51%;
        height: 14px; width: 14px;
        margin-right: 2px;
        margin-left: 2px;
        border: 1px rgb(111, 115, 108) solid;
        color: rgb(111, 115, 108);
        text-indent: 0px;
        font-size: .8rem;
        font-weight: bold;
        text-align: center;
        opacity: .8;
    }
    @media (min-width: 576px) {.carousel-indicators li{border-radius: 51%; height: 20px; width: 20px; margin-left: 3px; margin-right: 3px;}}
    .carousel-indicators li b{display: none;}
    @media (min-width: 576px) {.carousel-indicators li b{display: inline;}}
    .carousel-indicators li.hover{opacity: 1;}
    .carousel-indicators li.active{color: white; background-color: rgb(28, 156, 105); border-color: rgb(28, 156, 105); text-shadow: -1px 1px 1px rgb(19, 110, 74);}



/********** NAVBAR **********/
.navbar{box-shadow: 0 0 .5rem rgba(0, 0, 0, .15); padding-bottom: 0; min-height: 50px;}
.navbar.navbar-dark{background-color: rgb(61, 69, 62);}
.navbar.navbar-light{background-color:white;}
.navbar-brand{padding: .2rem 0 .2rem 0;}
.navbar-brand img{height: 40px;}
.navbar-nav .nav-link{
    padding: 1.2rem 1rem 1.2rem 1rem !important;
    text-transform: uppercase;
    font-size: .7rem;
    font-weight: bold;
}
.navbar-nav .nav-link.active {
    border-bottom: .2rem transparent solid;
    padding-bottom: 1rem !important;
}
@media (min-width: 768px) {
    .navbar-nav .nav-link.active {
        border-bottom: .2rem rgb(32, 181, 121) solid;
    }
}
.navbar .dropdown-menu{margin-top: 8px !important; border-radius: 0;}
@media (max-width: 575.98px) {.navbar .navbar-collapse{padding-top: 12px !important;}}



/********** FOOTER **********/
footer{min-height: 80px; box-shadow: 1px 0px 3px rgba(0, 0, 0, .25); position: relative; z-index: 1;}
footer img{opacity: .85; max-width: 100%;}
footer .copyright p{font-size: .85em;}
footer .copyright a{font-size: 1em;}
footer .copyright a:hover{color: rgb(131, 117, 95);}
footer .fa-trophy{height: .8rem; margin-left: .3rem; margin-bottom: .2rem;}



/********** GENERAL **********/
    h2, h2 span, .h2 span{font-family: rochester;}
    h3, h4, h5, h6, .h3, .h4, .h5, .h6, h3 span, h4 span, h5 span, h6 span, .h3 span, .h4 span, .h5 span, .h6 span{font-family: uni-sans;}
    .main-txt{font-family: lato-light; line-height: 145%; font-size: 1.4rem !important;}



/********** HEADER **********/
    #accueil{background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228 ,1) 39%, rgb(218, 218, 218) 100%); background-attachment: fixed;}
    #accueil .bg-photo-container{
        padding-bottom: 8rem;
        background: url('/images/constance-et-guillaume.png');
        background-repeat: no-repeat;
        background-position: bottom left;
        background-size: 40%;
    }


    @media (min-width: 576px) {
    }
    @media (min-width: 768px) {
    }
    @media (min-width: 992px) {
    }
    @media (min-width: 1200px) {
        #accueil .container > div{background-size: contain;}
    }



    .header-container > div{text-align: center;}
    @media (min-width: 768px) {
        .header-container > div{border: 1px rgb(139, 126, 103) solid; border-top: none; border-right: none; text-align: left;}
    }
    h1, h1 span, .h1, .h1 span{font-family: uni-sans-bold; font-size: 4rem !important; line-height: 65%; letter-spacing: 0px;}
    h1 span{font-size: 2.2rem !important;}
    h1 small{font-size: 1.8rem; font-family: uni-sans; letter-spacing: 5px;}
    @media (min-width: 576px) {
        h1, h1 span{font-size: 6rem !important; line-height: 65%; letter-spacing: 0px;}
        h1 span{font-size: 3.2rem !important;}
    }
    #accueil h2{font-size: 1.4rem !important;}
    #accueil h2.header-date{font-size: 2.2rem !important;}
    @media (min-width: 576px) {
        #accueil h2{font-size: 1.8rem !important;}
        #accueil h2.header-date{font-size: 4rem !important;}
    }
    #accueil .header-border{width: 70px; border-top: 3px rgb(233, 145, 14) double;}

    


/********** NOUS **********/
    #nous .img.constance{background: url(/images/constance/constance-0.jpg); background-repeat: no-repeat;-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
    #nous .img.constance:hover{background: url(/images/constance/constance-1.jpg); background-repeat: no-repeat;-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
    #nous .img.guillaume{background: url(/images/guillaume/guillaume-1.jpg); background-repeat: no-repeat;-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
    #nous .img.guillaume:hover{background: url(/images/guillaume/guillaume-0.jpg); background-repeat: no-repeat;-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
    #nous .img > div{min-height: 290px; border: 8px double white;}
    #nous p{font-family: lato-light;}


    
/********** PHOTOS **********/
    #photos > div{background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255 , 255, 255, 0) 3%, rgba(255 , 255, 255, 1) 80%, rgba(255 , 255, 255, 1) 100%)}
    #photos .carousel-inner-wrapper{border: 1px rgb(178, 178, 175) solid;}
    #photos .carousel-inner{border: 10px white solid;}
    #photos .carousel-item > div{width: 100%; height: 100%; display: inline-block;}
    #photos .carousel-item.carousel-itel-double-content{white-space: nowrap;}
    #photos .carousel-item.carousel-itel-double-content > div{width: 50%;}
    #photos .carousel-item img{width: 100%; height: 100%; cursor: pointer;}


/********** TEMOINS **********/
    #temoins .container-fluid{background: linear-gradient(180deg, rgba(255, 255, 255, 0) 85%, rgba(240, 240, 240, 1) 85%, rgba(255, 255, 255, 1) 100%);}
    .temoin-card img{max-height: 390px; max-width: 100%;}
    .temoin-card .shadow{box-shadow: -.1rem .2rem .3rem rgb(0, 0, 0, .25) !important;}
    .temoin-card table span{height: 19px; width: 19px; margin-bottom: -2px; border-radius: 50%; box-shadow: -.1rem .1rem .3rem rgb(0, 0, 0, .25) inset;}
    .temoin-card p{font-size: .9rem;}
    .temoin-card em{font-style: normal; font-size: .95rem; font-family: lato-light; line-height: 120%; border-left: 4px rgb(168, 230, 206) solid;}
    @media (min-width: 576px) {
        .temoin-card em{font-size: 1rem;}
        .temoin-card p{font-size: 1rem;}
    }


/********** PROGRAMME **********/
    #programme .serious-font{font-family: uni-sans-bold;}
    #programme h3{font-size: 1.2rem !important;}
    #programme .bar{border-bottom: 1px solid rgb(228, 224, 224); margin-top: -2px;}
    #programMenu li{cursor: pointer; opacity: .5;}
    #programMenu li:hover{opacity: .8;}
    #programMenu li.active{opacity: 1;}
    #programMenu li.active > span{background-color: rgb(24, 148, 98);}
    #programMenu li > span{width: 60px; height: 4px;}

    #programme .programme-card .time-pane{
        position: absolute;
        border-radius: 50%;
        padding: .9rem 1.2rem;
        margin-left: -1rem;
        margin-top: -1rem;
        z-index: 1;
    }
    #programme .programme-card .time-pane span{font-size: 1rem;}
    #programme .programme-card p{min-height: 90px; font-size: .9rem; line-height: 115%; font-family: lato-light;}
    #programme .programme-card td{font-size: .75rem; line-height: 130%;}
    #programme .programme-card td b, #programme .programme-card .info-block td a{font-size: .8rem;}



/********** THEME **********/
    #theme{
        background: url(/images/theme/sauvage.jpg);
        background-repeat: no-repeat;-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
    }
    #theme section{background: linear-gradient(180deg, rgba(14, 17, 15,.9) 0%, rgba(0,0,0,0) 17%, rgba(0,0,0,0) 25%, rgba(14, 17, 15 , .8) 40%, rgba(14, 17, 15 , 1) 80%, rgba(14, 17, 15 , 1) 100%);}
    #theme p{line-height: 125%;}
    #theme p.main-txt{
        max-width : 1000px;
        font-size: 1.1rem !important;
        opacity: .8;
    }

    #theme #dress svg{height: 1rem; margin-right: .3rem; margin-bottom: .4rem;}
    #theme #dress p, #theme #dress td, #theme #dress td b{font-size: .9rem;}
    #theme #dress > div > div > div{height: 160px}
    #theme #dress .block-5 p, #theme #dress .block-5 table td, #theme #dress .block-5 table b{font-family: lato-light;}
    #theme #dress .block-1 > div{background: url(/images/theme/savane.jpg); background-repeat: no-repeat;-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
    #theme #dress .block-2 > div{background: url(/images/theme/bananiers.jpg); background-repeat: no-repeat;-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
    #theme #dress .block-3 > div{background: url(/images/theme/tigre.jpg); background-repeat: no-repeat;-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
    #theme #dress .block-4 > div{background: url(/images/theme/nature.jpg); background-repeat: no-repeat;-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
    #theme #dress .block-6 > div{background: url(/images/theme/fleurs.jpg); background-repeat: no-repeat;-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}


    #theme #music ul{list-style-type: none; padding-left: 0;}
    #theme #music li span{display: inline-block; vertical-align: middle;}
    #theme #music li audio{height: 25px; width: 230px; opacity:.8; display: inline-block; vertical-align: middle;}
    #theme #music a:hover{color: white !important;}
    #theme #music ul svg{
        height: 1rem;
        margin-left: .3rem;
        margin-bottom: .2rem;
    }


/********** RSVP **********/
    #rsvp a.btn-1-outline-14{width: 350px; font-size: 1.2rem;}
    .btn-4{font-family: lato-light; line-height: 100%; background-color: rgb(228, 143, 16); color: white !important;}
    .btn-4:hover{background-color: rgb(212, 127, 0); color: white !important;}
    .btn-1-outline-14{font-family: lato-light; border: 1px rgb(228, 143, 16) solid; background-color: transparent; color: rgb(122, 101, 63) !important;}
    .btn-1-outline-14:hover, .btn-1-outline-14:active{background-color: rgb(228, 143, 16) !important; color:rgb(255, 235, 204) !important;}
    #rsvp small{font-size: 1rem;}
    



/********** LOGEMENT **********/
    #logements h3{font-size: 1.5rem; font-family: rochester;}
    #logements .block-1{border-right: 1px rgb(200, 200, 200) dashed;}
    #logements h4{font-size: 1.2rem;}
    #logements h4 i{font-size: .9rem; font-family: lato-light;}
    #logements p{font-size: 1rem; font-family: lato-light; line-height: 135%;}
    #logements a.link{font-size: 1rem;}




/********** CADEAU **********/
    .cadeau-main-block{
        max-width: 580px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, .25);
    }
    .cadeau-main-block > div{border: 2px rgb(236, 215, 182) dotted;}
    .cadeau-main-block .cadeau-border{border: 1px rgb(156, 219, 195) solid; width: 50px;}


#seeYouSoon img{height: 170px;}






/********************
********************
********** V2 **********/
.accueil-switch-buttons .btn{border-radius: 42%; display: inline-block; line-height: 100%; font-size: .85rem; opacity: .95;}
#accueilV2 .accueil-switch-buttons .btn{color:white !important;}
#accueilV2 .accueil-switch-buttons div.btn{cursor: auto;}
#accueilV2{
    background: url(/images/v2/constance-et-guillaume-bg-v2-1.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
    background-attachment: fixed;
}
#accueilV2  div.div-2{
    min-height: 42rem;
}
#accueilV2 h2{
   font-size: 6rem !important;
}


#mot .img{
    border-radius: 51%;
    max-width: 440px;
    background: url(/images/v2/mot-1.jpg); background-repeat: no-repeat;-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-position: center;
    border: 5px white solid;
}
#mot .img:hover{
    background: url(/images/v2/mot-2.jpg); background-repeat: no-repeat;-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-position: center;
}
#mot .img > div{
    border-radius: 51%;
    margin: -2px;
    min-height: 440px;
    background: radial-gradient(circle, transparent 62%, white 67%, white 85%, white 100%);
}
#mot h2{line-height: 95%;}
#mot p{font-family: lato-light;}


#bg1, #bg2, #bg3{min-height: 38rem;}
#bg1{
    background: url(/images/v2/eglise.jpg);
    background-position: center center;
    background-repeat: no-repeat;-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
    background-attachment: fixed;
}
#bg2{
    background: url(/images/v2/cocktail.jpg);
    background-position: center center;
    background-repeat: no-repeat;-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
    background-attachment: fixed;
}
#bg3{
    background: url(/images/v2/soiree.jpg);
    background-position: top center;
    background-repeat: no-repeat;-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
    background-attachment: fixed;
}
/*
#video{
    background: url(/images/v2/pretre-v2.jpg);
    background-position: top right;
    background-repeat: no-repeat;-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
    background-attachment: fixed;
}
#video .video-container{
    background-color: rgba(0, 0, 0, .3);
    padding: 2rem 5rem;
}
#video .video-container > div{
    max-width: 420px;
}
#video video{
    width: 100%;
    height: 520px;
}
*/

#photosMariage a, #prestas a{color: #8fb1d6;}
#photosMariage p, #photosMariage b{font-family: lato-light;}

#prestas img{max-width: 180px; border-radius: 51%; opacity: .95}
#mot p{font-family: lato-light;}

#prestas p.desc-txt{font-family: lato-light;}


@media (max-width: 991.98px) {

    #mot .img{max-width: 380px;}
    #mot .img > div{min-height: 380px;}

}
@media (max-width: 767.98px) {
    #accueilV2 h2{font-size: 5rem !important;}
    .main-txt{font-size: 1.2rem !important;}
}
@media (max-width: 575.98px) {
}